In [1]:
import pandas as pd
import random
from datetime import datetime
import time
import json
import numpy as np

In [2]:
def randomDate(start, end):
    frmt = '%d-%m-%Y %H:%M:%S'

    stime = time.mktime(time.strptime(start, frmt))
    etime = time.mktime(time.strptime(end, frmt))

    ptime = stime + random.random() * (etime - stime)
    dt = datetime.fromtimestamp(time.mktime(time.localtime(ptime)))
    return dt

In [3]:
Location = ['Фили', 'Карамышевский', 'Верхние Мнёвники', 'Сидней-Сити', 'Хруничева', "Сердце столицы", "Мелькомбинат", "Западный порт","Кутузовский", "Москва-Сити", "Мост Багратион", "ТЭЦ", "Киевский вокзал", "Автозаводский мост", "ЗИЛ","Нагатинская набережная","ЗИЛ-Юг","Южный речной вокзал", "Кленовый бульвар", "Негатинский затон", "Коломенская набережная", "Печатники", "Южный грузовой порт"]
max_count = [random.randrange(500, 2000, 100) for i in range(len(Location))]

j = 0
dict_max_loc ={}
for j in range(len(Location)):
    dict_max_loc[Location[j]] = max_count[j]
    j += 1

In [4]:
dict_max_loc

{'Фили': 1300,
 'Карамышевский': 1800,
 'Верхние Мнёвники': 1700,
 'Сидней-Сити': 1600,
 'Хруничева': 900,
 'Сердце столицы': 500,
 'Мелькомбинат': 1400,
 'Западный порт': 1400,
 'Кутузовский': 500,
 'Москва-Сити': 1200,
 'Мост Багратион': 1600,
 'ТЭЦ': 1200,
 'Киевский вокзал': 1400,
 'Автозаводский мост': 1600,
 'ЗИЛ': 1300,
 'Нагатинская набережная': 1100,
 'ЗИЛ-Юг': 900,
 'Южный речной вокзал': 1000,
 'Кленовый бульвар': 1000,
 'Негатинский затон': 1000,
 'Коломенская набережная': 1900,
 'Печатники': 500,
 'Южный грузовой порт': 500}

In [5]:
columns = ['DataTime', 'Location'] # Датафрейм для причалов
data = {'DataTime': [randomDate("21-12-2021 13:30:00", "23-12-2021 07:50:00") for i in range(2000)],       
       'Location':[random.choice(Location) for i in range(2000)]
       }

In [6]:
data = pd.DataFrame(data=data, columns=columns)
data.head()

             DataTime                Location
0 2021-12-22 04:38:34                     ЗИЛ
1 2021-12-23 00:20:02                     ТЭЦ
2 2021-12-22 21:58:33                     ЗИЛ
3 2021-12-22 05:14:20         Киевский вокзал
4 2021-12-23 06:21:10  Коломенская набережная

In [7]:
data['Max_count'] = data['Location'].map(dict_max_loc)

In [8]:
data['count_pass'] = [random.uniform(0.2*data['Max_count'][i], data['Max_count'][i]) for i in range(2000)]

In [9]:
data['count_pass'] = data['count_pass'].apply(np.int64)

In [10]:
data.dtypes

DataTime      datetime64[ns]
Location              object
Max_count              int64
count_pass             int64
dtype: object

In [11]:
data.head(20)

              DataTime                Location  Max_count  count_pass
0  2021-12-22 04:38:34                     ЗИЛ       1300         625
1  2021-12-23 00:20:02                     ТЭЦ       1200         926
2  2021-12-22 21:58:33                     ЗИЛ       1300        1235
3  2021-12-22 05:14:20         Киевский вокзал       1400         424
4  2021-12-23 06:21:10  Коломенская набережная       1900        1297
5  2021-12-22 02:40:13             Москва-Сити       1200         933
6  2021-12-23 06:58:44        Верхние Мнёвники       1700         386
7  2021-12-23 05:24:23        Верхние Мнёвники       1700         512
8  2021-12-21 23:31:29                  ЗИЛ-Юг        900         575
9  2021-12-23 05:03:05      Автозаводский мост       1600         756
10 2021-12-22 22:55:05                    Фили       1300        1191
11 2021-12-22 15:25:34               Печатники        500         267
12 2021-12-22 21:09:52  Коломенская набережная       1900         383
13 2021-12-22 22:48:33             Сидней-Сити       1600        1223
14 2021-12-22 21:51:56                     ТЭЦ       1200         546
15 2021-12-22 09:34:30               Печатники        500         172
16 2021-12-22 08:52:40      Автозаводский мост       1600        1222
17 2021-12-22 22:53:36        Кленовый бульвар       1000         968
18 2021-12-22 03:24:30                     ТЭЦ       1200         938
19 2021-12-22 02:00:29                     ТЭЦ       1200         452

In [16]:
data = data.sort_values(['Location','DataTime'])
data.head(10)

                DataTime            Location  Max_count  count_pass
1272 2021-12-21 14:11:29  Автозаводский мост       1600         896
993  2021-12-21 14:17:28  Автозаводский мост       1600        1223
1281 2021-12-21 14:34:36  Автозаводский мост       1600        1078
1832 2021-12-21 14:38:06  Автозаводский мост       1600        1424
367  2021-12-21 14:53:41  Автозаводский мост       1600        1366
1012 2021-12-21 15:10:01  Автозаводский мост       1600         345
416  2021-12-21 15:11:19  Автозаводский мост       1600         592
1375 2021-12-21 15:37:19  Автозаводский мост       1600        1577
1236 2021-12-21 15:41:15  Автозаводский мост       1600        1355
1210 2021-12-21 16:08:44  Автозаводский мост       1600         821

In [17]:
writer = pd.ExcelWriter('test.xlsx')
data.to_excel(writer)
writer.save()

In [18]:
result = data.to_csv('out.csv')